.contact {
    font-family: 'Calibri', sans-serif;
    float: right;
    margin-right: 50px;
}
.contact-headline {
    color: rgb(190, 72, 72);
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    font-weight: 80;
    text-align: center;
    margin-top: 40px;
}
.contact-headline:hover span{
    display: none;

}
.contact-headline:hover::before{
    content: "Simon Kuenzig";

}
.contact_text{
    color: rgb(190, 72, 72);
    font-family: 'Calibri', sans-serif;
    font-size: 13px;
    font-weight: 80;
    
}
.contact_text_adress {
    color: rgb(190, 72, 72);
    font-family: 'Calibri', sans-serif;
    font-size: 13px;
    font-weight: 80;
}